<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vuduc.apptuthien">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignupActivity" />
        <activity android:name=".ProjectDetailActivity" />
        <activity android:name=".ListProjectActivity" />
        <activity android:name=".CreateProjectActivity" />
        <activity android:name=".CreateRedPontActivity" />
        <activity android:name=".ListRedPointActivity" />
        <activity android:name=".EditProjectActivity" />
        <activity android:name=".EditRedPointActivity" />
        <activity android:name=".RedpointDetailActivity" />
        <activity android:name=".ListRedpointCheckedActivity" />
        <activity android:name=".MoiTaiTroActivity" />
        <activity android:name=".XemTaiTroActivity" />
        <activity android:name=".RedpointCheckDetailActivity"></activity>
    </application>

</manifest>